<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">




    <test name="HomePage">
        <classes>
            <class name="TestCases.Logintest"/>
<!--            <class name="TestCases.Home_page_test_cases"/>-->
<!--            <class name="TestCases.Listing_page_test_case"/>-->
<!--            <class name="TestCases.Detail_Page_test_case"/>-->
        </classes>
    </test>


</suite>