<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">


<!--    <test name="LoginTest">-->
<!--        <classes>-->
<!--            <class name="TestCases.Logintest"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="HomePage">
        <classes>
            <class name="TestCases.Home_page_test_cases"/>
            <class name="TestCases.Listing_page_test_case"/>
        </classes>
    </test>
    
<!--    <test name="Listing_Page">-->
<!--        <classes>-->
<!--            <class name="TestCases.Listing_page_test_case"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Detail_page">-->
<!--        <classes>-->
<!--            <class name="TestCases.Detail_Page_test_case"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Traveler_Page">-->
<!--        <classes>-->
<!--            <class name="TestCases.Traveler_page_Test_cases"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Payment_Page">-->
<!--        <classes>-->
<!--            <class name="TestCases.Payment_Page_Test_Cases"/>-->
<!--        </classes>-->
<!--    </test>-->


</suite>